<!DOCTYPE html>
<html lang="en">
<head>
  <title>Photowae</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Martian+Mono&family=Quicksand:wght@600&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="/static/js/jquery.js"></script>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <div class="jumbotron text-center" style="background-color: black;">
    <h1 style="color: white; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;">Photowae</h1>
    <p style="color: white; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;">Self Photo Studio</p>
    <p ><h3 style="color: white; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;">Jalan Poncowitan No.51 A Gowongan, Jetis, Yogyakarta</h3></p>
  </div>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a  class="navbar-brand" style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;">Photowae</a>
    </div>
  </div>
</nav>

<!-- Container (Gallery Section) -->
<div id="gallery" class="container-fluid text-center bg-grey">
  <h2 style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;">Gallery</h2><br>
  <h4 style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;">Foto Terbaik di tahun 2022</h4>
  <div class="row text-center slideanim">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="/static/img/foto1.jpg" alt="foto2" width="400" height="300">
        <p style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;"><strong>#1</strong></p>
        <p style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;">Oktober</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="/static/img/foto2.jpg" alt="foto2" width="400" height="300">
        <p style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;"><strong>#2</strong></p>
        <p style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;">November</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="/static/img/foto3.jpg" alt="foto2" width="400" height="300">
        <p style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;"><strong>#3</strong></p>
        <p style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;">Desember</p>
      </div>
    </div>
  </div><br>

<!-- Container (Pricing Section) -->
<div id="pricing" class="container-fluid">
  <div class="text-center">
    <h2 style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;">Price List</h2>
    <h4 style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;">Pilih Paket Terbaik Anda</h4>
  </div>
  <div class="row slideanim">
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1 style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;">HEMAT</h1>
        </div>
        <div class="panel-body">
          <p style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;"><strong>10 Menit</strong> Photoshoot</p>
          <p style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;"><strong>5 Menit</strong> Photo Selection for print</p>
          <p style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;"><strong>2 Photo Print</strong> Printed 4R Size : 1 Single 1 Collage</p>
          <p style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;"><strong>10 Softcopies</strong> 1 Preset (Instant Download)</p>
        </div>
        <div class="panel-footer">
          <h3 style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;">Rp. 90.000</h3>
          <h4 style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;">per Sesi</h4>
          <button class="btn btn-lg" style="background-color: black;"><a href="/list/" style="color: white; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;">Pesan Sekarang</a></button>
        </div>
      </div>      
    </div>     
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1 style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;">PREMIUM</h1>
        </div>
        <div class="panel-body">
			<p style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;"><strong>15 Menit</strong> Photoshoot</p>
			<p style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;"><strong>5 Menit</strong> Photo Selection for print</p>
			<p style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;"><strong>2 Photo Print</strong> Printed 4R Size : 1 Single 1 Collage</p>
			<p style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;"><strong>All Softcopies</strong> 1 Preset (Instant Download)</p>
        </div>
        <div class="panel-footer">
          <h3 style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;">Rp. 130.000</h3>
          <h4 style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;">per Sesi</h4>
          <button class="btn btn-lg" style="background-color: black;"><a href="/list/" style="color: white; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;">Pesan Sekarang</a></button>
        </div>
      </div>      
    </div>       
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1 style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;">SPECIAL</h1>
        </div>
        <div class="panel-body">
			<p style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;"><strong>17 Menit</strong> Photoshoot</p>
			<p style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;"><strong>5 Menit</strong> Photo Selection for print</p>
			<p style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;"><strong>2 Photo Print</strong> Printed 4R Size : 1 Single 1 Collage</p>
			<p style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;"><strong>All Softcopies</strong> 3 Preset (Instant Download)</p>
        </div>
        <div class="panel-footer">
          <h3 style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;">Rp. 150.000</h3>
          <h4 style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;">per Sesi</h4>
          <button class="btn btn-lg" style="background-color: black;"><a href="/list/" style="color: white; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;">Pesan Sekarang</a></button>
        </div>
      </div>      
    </div>    
  </div>
</div>


<!--Google map-->
<div id="map-container-google-2" class="z-depth-1-half map-container" style="height: 500px">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3953.0720385540353!2d110.36051401407471!3d-7.7821868943915735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a597247f64905%3A0xaa9c5a9751972896!2sPhotowae%20Self%20Photo%20Studio%20%26%20PhotoBOXwae%20Self%20Photo%20in%20The%20Box!5e0!3m2!1sid!2sid!4v1672373704381!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!--Google Maps-->

<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p style="color: black; font-family: 'Martian Mono', monospace; font-family: 'Quicksand', sans-serif;">Photowae.id <a href="https://www.instagram.com/photowae.id/" title="Visit w3schools">www.photowae.com</a></p>
</footer>

</body>
</html>
